body {
   color: white;
   background: rgb(0, 0, 0);
   margin: 0px;
}


header {
border-bottom:solid 2px rgb(217, 0, 255);
padding: 20px;
font-size: 32px;
color: rgb(221, 28, 255);
}

.chamada {
   background: rgb(173, 87, 173)
   padding-bottom: 80px
   padding-top: 80px;
   display: flex;
   justify-content: center;
}

.chamada-texto {
   margin-right: 5%
}

h1 {
   font-size: 20px;
}

.categoria-videos {
   display: flex;
   overflow-x: auto;
   gap: 10px;
}

.categoria {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 50px;
}

.categoria-vídeos img {
   opacity: 0.5;
   height: 200px;
}

.categoria-vídeos img:hover {
   opacity:1.0;
   border: 3px solid violet;
}

.categoria h2 {
   color:rgb(253, 85, 169)
}

section {
   background: rgb(134, 9, 134);
}